#nav{
    position:absolute;
    top:0px;
}
 

.nav-item{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Quicksand";
  
    
}

#home_id,#lg,#plan_id,#lm,#ab#fra,#ab,#contact_id,#fra{
    color:rgb(255, 255, 255);
}


.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 0;
    background-color: #a9b33b;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
 
}
.deal{
width: 158px;
height: 40px;
background-color: #aab33c;
text-transform: uppercase;
font-weight: 700;
font-family: "Quicksand";
color:white;
margin-left: 10px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#p2script{

font-size: 30px;
padding-top:60px;
padding-bottom:40px;
text-transform: uppercase;
color: #5c5c5c;
font-weight: 700;
font-family: "Quicksand";
text-align: center;

}
.card{
    position:relative;
    background-color: #a9b33c48;
}

.card-text{

color: #404142;
font-weight: 700;
font-family: "Quicksand";
font-size: 18px;
line-height: 25px;

}


.card-img{
padding:50px;   
}