#nav{
    position:absolute;
    top:0px;
}
 

.nav-item{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Quicksand";
  
    
}

#home_id,#lg,#plan_id,#lm,#ab#fra,#ab,#contact_id,#fra{
    color:rgb(255, 255, 255);
}


.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 0;
    background-color: #a9b33b;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
 
}
.deal{
width: 158px;
height: 40px;
background-color: #aab33c;
text-transform: uppercase;
font-weight: 700;
font-family: "Quicksand";
color:white;
margin-left: 10px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#p2script{

font-size: 30px;
padding-top:60px;
padding-bottom:40px;
text-transform: uppercase;
color: #5c5c5c;
font-weight: 700;
font-family: "Quicksand";
text-align: center;

}
.card{
   
    background-color: #a9b33c48;
}

.card-text{

color: #404142;
font-weight: 700;
font-family: "Quicksand";
font-size: 18px;
line-height: 25px;

}


.card-img{
padding:50px;   
}

#p4heading{
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    padding-top:60px;
padding-bottom:40px;
}

#p4para{

font-size: 15px;
line-height: 35px;
color: #404142;
font-weight: 500;
font-family: "Quicksand";
    
}

#p4info{
    padding-top:50px;
    padding-bottom: 50px;
}

#page5{
   background-color: #a9b33c46;
   padding:50px;
   
    
}

#p5heading{

    font-size: 50px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}
#p5para{
padding-top:30px;
width: 646px;
height: 202px;
font-size: 14px;
line-height: 24px;
color: #404142;
font-weight: 500;
font-family: "Quicksand";
}

#p5para2{
font-size: 14px;
line-height: 24px;
color: #404142;
font-weight: 500;
font-family: "Quicksand";
text-align: left;

}


#page6{
    padding:50px;
}

tr,td,th{
    border:none;
}

tr{
    height:50px;   
}

td{
    align-content: center;
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
}


#col1{
    font-size: 40px;
    line-height:20px;
    color: #ffffff;
    font-family: "Quicksand";
    text-align:justify  ;

}

#col2{
    font-size: 25px;
    line-height:20px;
    color: #ffffff;
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
    
    font-family: "Quicksand";
    text-align: left;

}

#col3{
    font-size: 25px;
    line-height:20px;
    color: #ffffff;
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
   
    font-family: "Quicksand";

}

.colnames{
    background-color:rgb(169, 179, 59);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.507);
    
}

  #r2c1{
    color:white;
    background:rgb(169, 179, 59);
    font-family: "Quicksand";
    
  }
tr:nth-child(2) {
    background:rgba(170,179,59,0.3);
  }

  tr:nth-child(4) {
    background:rgba(170,179,59,0.3);;
  }

  tr:nth-child(6) {
    background:rgba(170,179,59,0.3);;
  }

  td:nth-child(3){
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
  }

  td:nth-child(4){
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
  }

  #p7heading{
    position:relative;
    top:-90px;  
    text-align: center;
  }