#nav {
  position: absolute;
  top: 0px;
}


.nav-item {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Quicksand";


}

#home_id,
#lg,
#plan_id,
#lm,
#ab#fra,
#ab,
#contact_id,
#fra {
  color: rgb(255, 255, 255);
}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 0;
  background-color: #a9b33b;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;

}

.deal {
  width: 158px;
  height: 40px;
  background-color: #aab33c;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Quicksand";
  color: white;
  margin-left: 10px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#p2script {

  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
  color: #5c5c5c;
  font-weight: 700;
  font-family: "Quicksand";
  text-align: center;

}

.card {

  background-color: #a9b33c48;
}

.card-text {

  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
  font-size: 18px;
  line-height: 25px;

}


.card-img {
  padding: 50px;
}

#p4heading {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
  padding-top: 60px;
  padding-bottom: 40px;
}

#p4para {

  font-size: 15px;
  line-height: 35px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";

}

#p4info {
  padding-top: 50px;
  padding-bottom: 50px;
}

#page5 {
  background-color: #a9b33c46;
  padding: 50px;


}

#p5heading {

  font-size: 50px;
  line-height: 46px;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
}

#p5para {
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
}

#p5para2 {
  font-size: 14px;
  line-height: 24px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
  text-align: left;

}


#page6 {

  padding: 50px;

}



td {
  font-size: 10px;
  font-family: "Quicksand";
  color: #000000;
  height: 50px;

}

#col1 {
  font-size: 40px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Quicksand";
  text-align: center;

}

#col2 {
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
  font-family: "Quicksand";
  text-align: justify;

}

#col3 {
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.5);
  text-align: justify;
  font-family: "Quicksand";

}

.colnames {
  background-color: rgb(169, 179, 59);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.507);

}

#r2c1 {
  color: white;
  background: rgb(169, 179, 59);
  font-family: "Quicksand";

}

tr:nth-child(2) {
  background: rgba(170, 179, 59, 0.3);
}

tr:nth-child(4) {
  background: rgba(170, 179, 59, 0.3);
  ;
}

tr:nth-child(6) {
  background: rgba(170, 179, 59, 0.3);
  ;
}



tr:nth-child(3) {
  background: rgb(255, 255, 255);
  ;
}

tr:nth-child(5) {
  background: rgb(255, 255, 255);
  ;
}

tr:nth-child(7) {
  background: rgb(255, 255, 255);
  ;
}

td:nth-child(3) {
  box-shadow: -8px 0 12px -8px rgba(0, 0, 0, 0.5);
}



td:nth-child(4) {
  box-shadow: -8px 0 12px -8px rgba(0, 0, 0, 0.5);
}

.table th:nth-child(1) {
  border-top-left-radius: 10px;
}

/*   */
.table th:nth-child(4) {
  border-top-right-radius: 10px;

}


#lastrow {
  font-family: "Quicksand";
  color: rgb(169, 179, 59);
  font-size: xx-large;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

#lastdata {
  border-bottom-right-radius: 10px;

}




.table>:not(caption)>*>* {
  border-bottom-width: 0px;

}


#p7heading {
  position: relative;
  top: -90px;
  text-align: center;
}



#rec1 {
  background-color: #fdffe9;
  width: 300px;
  height: 74px;
  word-wrap: break-word;
  position: relative;
  top: -40px;
  left: 20px;
}

#p1 {
  font-size: 14px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
  text-align: center;

}

#img1 {
  float: left;
}

#rec2 {
  background-color: #fdffe9;
  width: 300px;
  height: 74px;
  word-wrap: break-word;
  position: relative;
  top: -40px;
  left: 20px;
}

#p2 {
  font-size: 14px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
  text-align: center;

}

#img2 {
  float: left;
}

#rec3 {
  background-color: #fdffe9;
  width: 300px;
  height: 74px;
  word-wrap: break-word;
  position: relative;
  top: -40px;
  left: 20px;
}

#p3 {
  font-size: 14px;
  color: #404142;
  font-weight: 500;
  font-family: "Quicksand";
  text-align: center;

}

#p7bg{
  background-image: url("/assets/images/page7bg1.svg");

}


#img3 {
  float: left;
}

#p8script {
  font-size: 35px;
  line-height: 46px;
  color: #404142;
  font-weight: 700;
  font-family: "Quicksand";
  text-align: center;

}

#p8bt{
  width: 235px;
  height: 47px;
border: none;
background-color: #a9b33b;
font-size: 15px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Quicksand";

}

#p8{
  padding: 25px;
}

#rowbg{
  background-image: url("/assets/images/ftbg.svg");
 
}

.ftheading{
  font-size: 18px;
line-height: 50px;
text-transform: uppercase;
color: #404142;
font-weight: 700;
font-family: "Open Sans";
}

.ftcont{
font-size: 12px;
line-height: 22px;
color: #404142;
font-weight: 400;
font-family: "Open Sans";
}

#cpy{
background-color:#a9b33c ;
}

#cpytxt{
  font-size: 11px;
  letter-spacing: 2px;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Quicksand";
 text-align: center ;
  }

  #tc{
    font-size: 13px;
letter-spacing: 2px;

text-transform: uppercase;
color: #ffffff;
font-weight: 500;
font-family: "Quicksand";
text-align: right;
  }


  .row2{
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

